.mainBody {
  width: 100%;
  height: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.cardContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100vw;    
}